html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Codes for Menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  grid-area: menu;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  width: 290px;
  z-index: +999;
}

.menu .logo {
  width: 60px;
  margin-bottom: 7px;
}

.pageNames {
  display: none;
}

.showMenu {
  display: flex;
  flex-direction: column;
  background-color: #0000fe;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu h2 {
  margin: 7px;
  position: relative;
}

.menu a {
  position: relative;
}

.menu a:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: 0px;
  right: 8px;
}

.menu a:last-child:after {
  content: "";
  display: none;
}

.menu a:link {
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover {
  text-decoration: none;
  color: #ffffff;
}

.menu a:visited {
  text-decoration: none;
  color: #ffffff;
}

.menu a:link {
  text-decoration: none;
  color: #ffffff;
}

.menu a:active {
  text-decoration: none;
  color: #ffffff;
}

/* Codes for Home Page */
#homePage > .mainContainer {
  width: 100%;
  height: 100vh;
  background-color: #0000fe;
  display: grid;
  grid-template-areas:
  ". . . . "
  ". pic menu ."
  ". pic intro ."
  ". . . .";
  grid-template-columns: 10% 50% 30% 10%;
  grid-template-rows: 5% 1fr 1fr 5%;
}

#homePage #homeTitleBox {
  background-image: url(homeImg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: pic;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#homeTitleBox .titles {
  width: 70%;
}

#homeTitleBox h1 {
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
  margin: 10px;
}

#homePage .homeMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  grid-area: menu;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  z-index: +999;
}

#homePage .homeMenu .logo {
  width: 60px;
  margin-bottom: 7px;
}

#homePage .homeMenu h2 {
  margin: 7px;
}

#homePage .homeMenu a {
  position: relative;
}

#homePage .homeMenu a:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 1px solid #fff;
  position: absolute;
  /* bottom: 0px; */
  right: 8px;
}

#homePage .homeMenu a:last-child:after {
  content: "";
  display: none;
}

#homePage .homeMenu a:link {
  text-decoration: none;
  color: #ffffff;
}

#homePage .homeMenu a:hover {
  text-decoration: none;
  color: #ffffff;
}

#homePage .homeMenu a:visited {
  text-decoration: none;
  color: #ffffff;
}

#homePage .homeMenu a:link {
  text-decoration: none;
  color: #ffffff;
}

#homePage .homeMenu a:active {
  text-decoration: none;
  color: #ffffff;
}

#homePage a:first-child {
  font-family: acier-bat-outline, sans-serif;
}

#homePage .intro {
  grid-area: intro;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}

#homePage #eyeball {
  grid-area: pic;
  width: 7.7%;
  position: absolute;
  top: 5%;
  left: 15%;
  animation-timing-function: ease;
}


/* Codes for Law Page */
#lawPage .bgEyeLayer {
  position: fixed;
  background-color: #ff005c;
  height: 100vh;
  width: 100%;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lawPage .bgEyeCon {
  width: 200px;
  height: 91.13px;
}

#lawPage .bgEyeShape {
  width: 200px;
  position: absolute;
}

#lawPage .bgEyeShape img {
  width: 200px;
  object-fit: contain;
}

#lawPage .eyeballCon {
  width: 199px;
  height: 91.13px;
  background-color: #ffffff;
  position: absolute;
  overflow-x: hidden;
}

#lawPage .eyeballCon #bgEyeball {
  /* width: 160px; */
  height: 91.13px;
  object-fit: contain;
  position: absolute;
}

#lawPage .cover {
  display: grid;
  height: 47vw;
  width: 100%;
  /* background-color: #ff005c; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#lawPage .menu a:nth-child(2) {
  font-family: acier-bat-outline, sans-serif;
}

#lawPage .coverPic {
  width: 48vw;
  position: absolute;
  left: 10%;
  top: 10%;
}

#lawPage .pageTitle {
  text-align: right;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.4vw;
  z-index: +1;
  margin-right: 10%;
}

#lawPage .cover h1 {
  margin: 0px;
}

#lawPage .cover span {
  font-family: acier-bat-outline, sans-serif;
}

#lawPage .menu {
  position: fixed;
  right: 10%;
  top: 5%;
}

#lawPage .pageTitle p {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6vw;
  margin-top: 0px;
  padding-bottom: 10px;
}

#lawPage .topics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lawPage .questions {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 1.7vw;
  border-top: #000 0.5vw solid;
}

#lawPage .questions h3 {
  width: 85%;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
}

#lawPage .questions span {
  font-family: acier-bat-gris, sans-serif;
}

#lawPage .displayStatus {
  width: 5%;
  object-fit: contain;
}

#lawPage .data {
  width: 80%;
  font-size: 1.2vw;
  font-family: Saira;
}

.hideData {display: none;}

.showData {display: block;}
