html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Codes for Menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  grid-area: menu;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  width: 290px;
  z-index: +999;
  position: fixed;
  right: 10%;
  top: 5%;
}

.menu .logo {
  width: 60px;
  margin-bottom: 7px;
}

.pageNames {
  display: none;
}

.showMenu {
  display: flex;
  flex-direction: column;
  background-color: #0000fe;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu h2 {
  margin: 7px;
  position: relative;
}

.menu a {
  position: relative;
}

.menu a:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: 0px;
  right: 8px;
}

.menu a:last-child:after {
  content: "";
  display: none;
}

.menu a:link {
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover {
  text-decoration: none;
  color: #ffffff;
}

.menu a:visited {
  text-decoration: none;
  color: #ffffff;
}

.menu a:link {
  text-decoration: none;
  color: #ffffff;
}

.menu a:active {
  text-decoration: none;
  color: #ffffff;
}

/* Codes for Home Page */
#homePage > .mainContainer {
  width: 100%;
  height: 100vh;
  background-color: #0000fe;
  display: grid;
  grid-template-areas:
  ". . . . "
  ". pic menu ."
  ". pic intro ."
  ". . . .";
  grid-template-columns: 10% 50% 30% 10%;
  grid-template-rows: 5% 1fr 1fr 5%;
}

#homePage * {
  cursor: url(img/pinkCursor.png), auto;
}

#homePage #homeTitleBox {
  grid-area: pic;
  position: relative;
}

#homeTitleBox .titles {
  width: 70%;
  position: absolute;
  bottom: 0px;
}

#homeTitleBox h1 {
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
  margin: 10px;
}

#homePage .pageNames {display: unset;}

#homePage a:first-child {
  font-family: acier-bat-outline, sans-serif;
}

#homePage .intro {
  grid-area: intro;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15vw;
  color: #ffffff;
}

#homePage #eyeball {
  grid-area: pic;
  width: 7.7%;
  position: absolute;
  top: 5%;
  left: 15%;
  animation-timing-function: ease;
}

#vectorEye {
  /* width: 100px !important; */
  /* width: 100%; */
  /* height: 100%; */
  /* max-width: 100%; */
  /* max-height: 100vh; */
  fill: none;
  position: absolute;
  bottom: 0px;
  /* transform: scale(0.75); */
}

.lids {
  display: none;
}

.whites {
  fill: #fff;
}

.iris {
  fill: #0000FE;
  cx: 500px;
  cy: 500px;
}

.pupil {
  fill: #000;
}

.iris-group {
  transform: translate(0px, 0px);
}

#base-eye {

}
#grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.sight {
  fill: #FF005C;
}



/* Codes for Law Page */
#lawPage * {
  cursor: url(img/blueCursor.png), auto;
}

#lawPage .bgEyeLayer {
  position: fixed;
  background-color: #ff005c;
  height: 100vh;
  width: 100%;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lawPage .bgEyeCon {
  width: 200px;
  height: 91.13px;
}

#lawPage .bgEyeShape {
  width: 200px;
  position: absolute;
}

#lawPage .bgEyeShape img {
  width: 200px;
  object-fit: contain;
}

#lawPage .eyeballCon {
  width: 199px;
  height: 91.13px;
  background-color: #ffffff;
  position: absolute;
  overflow-x: hidden;
}

#lawPage .eyeballCon #bgEyeball {
  /* width: 160px; */
  height: 91.13px;
  object-fit: contain;
  position: absolute;
}

#lawPage .cover {
  height: 47vw;
  width: 100%;
  /* background-color: #ff005c; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#lawPage .menu a:nth-child(2) {
  font-family: acier-bat-outline, sans-serif;
}

#lawPage .coverPic {
  width: 48vw;
  position: absolute;
  left: 10%;
  top: 10%;
}

#lawPage .pageTitle {
  text-align: right;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.4vw;
  z-index: +1;
  margin-right: 10%;
}

#lawPage .cover h1 {
  margin: 0px;
}

#lawPage .cover span {
  font-family: acier-bat-outline, sans-serif;
}

#lawPage .pageTitle p {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6vw;
  margin-top: 0px;
  padding-bottom: 10px;
}

#lawPage .intro {
  width: 62%;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4vw;
  padding-top: 6vw;
  padding-bottom: 6vw;
}

#lawPage .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lawPage .topics {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lawPage .topics:last-child {
  border-bottom: #000 0.5vw solid;
  margin-bottom: 10vw;
}

#lawPage .questions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1.7vw;
  border-top: #000 0.5vw solid;
}

#lawPage .questions h3 {
  width: 85%;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
}

#lawPage .questions span {
  font-family: acier-bat-gris, sans-serif;
}

#lawPage .displayStatus {
  width: 5%;
  object-fit: contain;
}

#lawPage .data {
  width: 80%;
  font-size: 1.2vw;
  font-family: Saira;
  padding-bottom: 4vw;
}

.hideData {display: none;}

.showData {
  display: grid;
  grid-template-columns: 28% 72%;
  grid-template-rows: repeat(11, 1fr);
  /* column-gap: 20px; */
}

#lawPage .data * {
  border-top: #000 0.2vw solid;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4vw;
  padding: 10px;
  display: flex;
  align-items: center;
}

#lawPage .data .cate1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 2vw;
  font-weight: 700;
}

#lawPage .data .cate2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: 700;
  display: grid;
  padding: unset;
  border: unset;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

#lawPage .data .cate2 * {
  margin-right: 2vw;
  font-weight: 700;
  height: 100%;
}

#lawPage .data .cate2 div:last-child {
  margin-right: unset;
}

#lawPage .answers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: unset;
}

#lawPage #question4 + .data .cate2 {
  border-top: #000 0.2vw solid;
}

#lawPage #question4 + .data .answers {
  display: flex;
  padding: 10px;
}

#lawPage .answers * {
  border: unset;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2vw;
  padding: unset;
  padding-left: 10px;
}

#lawPage .answers div:last-child {
  border: unset;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.4vw;
  padding: unset;
  padding-left: 10px;
}

#lawPage .data .brazil {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#lawPage .data .china {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#lawPage .data .finland {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#lawPage .data .germany {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#lawPage .data .italy {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#lawPage .data .japan {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

#lawPage .data .malaysia {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}

#lawPage .data .peru {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 10;
}

#lawPage .data .singapore {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 11;
}

#lawPage .data .us {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 12;
  border-bottom: #000 0.2vw solid;
}

#lawPage .data .brazilAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#lawPage .data .chinaAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#lawPage .data .finlandAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#lawPage .data .germanyAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#lawPage .data .italyAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#lawPage .data .japanAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

#lawPage .data .malaysiaAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}

#lawPage .data .peruAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
}

#lawPage .data .singaporeAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 11;
}

#lawPage .data .usAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
  border-bottom: #000 0.2vw solid;
}

#lawPage .data .brazilAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#lawPage .data .chinaAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#lawPage .data .finlandAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#lawPage .data .germanyAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#lawPage .data .italyAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#lawPage .data .japanAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

#lawPage .data .malaysiaAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}

#lawPage .data .peruAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
}

#lawPage .data .singaporeAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 11;
}

#lawPage .data .usAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
  border-bottom: #000 0.2vw solid;
}




/* Codes for event page */
#eventPage * {
  cursor: url(img/pinkCursor.png), auto;
}

#eventPage .bgEyeLayer {
  position: fixed;
  background-color: #0000fe;
  height: 100vh;
  width: 100%;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eventPage .bgEyeCon {
  width: 200px;
  height: 91.13px;
}

#eventPage .bgEyeShape {
  width: 200px;
  position: absolute;
}

#eventPage .bgEyeShape img {
  width: 200px;
  object-fit: contain;
}

#eventPage .eyeballCon {
  width: 199px;
  height: 91.13px;
  background-color: #ffffff;
  position: absolute;
  overflow-x: hidden;
}

#eventPage .eyeballCon #bgEyeball {
  /* width: 160px; */
  height: 91.13px;
  object-fit: contain;
  position: absolute;
}

#eventPage .menu .pageNames {
  background-color: #ff005c
}

#eventPage .menu a:nth-child(3) {
  font-family: acier-bat-outline, sans-serif;
}

#eventPage .gradientLayer {
  height: 47vw;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#eventPage .gradientLayer div:first-child {
  height: 70%;
  width: 100%;
  background-color: #0000fe;
}

#eventPage .gradientLayer div:last-child {
  height: 30%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 254, 1), rgba(0, 0, 254, 0.1));
}

#eventPage .cover {
  height: 47vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eventPage .cover div {
  width: 100%;
  height: 47vw;
  position: absolute;
  display: flex;
  justify-content: center;
}

#eventPage .imgLayer {
  align-items: center;
}

#eventPage .pageTitle:first-child {
  align-items: flex-start;
  padding-top: 3vw;
  font-size: 3.4vw;
}

#eventPage .pageTitle:last-child {
  align-items: flex-end;
  padding-bottom: 3vw;
  font-size: 4.5vw;
  font-family: acier-bat-outline, sans-serif;
}

#eventPage .coverPic {
  width: 40vw;
  object-fit: contain;
}

#eventPage .pageTitle {
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

#eventPage .cover h1 {
  margin: 0px;
}

#eventPage .content {
  padding-bottom: 8vw;
}

#eventPage .events {
  width: 100%;
  /* height: 47vw; */
  display: grid;
  grid-template-columns: 10% repeat(5, 1fr) 10%;
  grid-row-gap: 20px;
  color: #fff;
  padding-top: 5vw;
}

#eventPage .events .title1 {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5vw;
}

#eventPage .events .detail {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15vw;
}

#eventPage .events .title2 {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.15vw;
  text-decoration: underline;
  padding-bottom: 0.6vw;
}

#eventPage .events:first-child {
  grid-template-rows: 5% repeat(6, 1fr) 5%;
}

#eventPage .events:first-child img {
  width: 35vw;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

#eventPage .events:first-child .title1 {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: flex-end;
}

#eventPage .events:first-child .detail:nth-child(2) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

#eventPage .events:first-child .detail:nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

#eventPage .events:first-child .detail:nth-child(4) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
}

#eventPage .events:first-child .detail:nth-child(5) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
}

#eventPage .events:nth-child(2) {
  grid-template-rows: 5% repeat(4, 1fr) 5%;
}

#eventPage .events:nth-child(2) img {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  width: 40vw;
}

#eventPage .head {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#eventPage .events:nth-child(2) .detail:nth-child(2) p {
  width: 93%;
}

#eventPage .events:nth-child(2) > .detail:nth-child(2) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

#eventPage .events:nth-child(2) .detail:nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

#eventPage .events:nth-child(2) .detail:nth-child(4) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

#eventPage .events:nth-child(3) {
  grid-template-rows: 10% repeat(5, 1fr) 5%;
}

#eventPage .events:nth-child(3) div:first-child {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 7;
}

#eventPage .events:nth-child(3) img {
  width: 45vw;
}

#eventPage .events:nth-child(3) .title1 .detail {
  font-size: 1.4vw;
  padding-bottom: 10px;
}

#eventPage .events:nth-child(3) .title1 {
  text-align: center;
  font-size: 4vw;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
}

#eventPage .events:nth-child(3) .detail:nth-child(3) {
  /* width: 70%; */
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

#eventPage .events:nth-child(3) .detail:nth-child(4) {
  display: flex;
  align-items: baseline;
  text-align: right;
  justify-content: flex-end;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}

#eventPage .events:nth-child(3) p {
  width: 77%;
  padding-bottom: 5vw;
}

#eventPage .events:nth-child(4) {
  grid-template-rows: 10% repeat(6, 1fr) 5%;
  grid-template-columns: 10% repeat(8, 1fr) 10%;
  grid-column-gap: 20px;
}

#eventPage .events:nth-child(4) > div:nth-child(2) {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#eventPage .events:nth-child(4) img {
  width: 25vw;
  object-fit: contain;
}

#eventPage .events:nth-child(4) .title1 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 3.8vw;
  /* align-items: flex-end; */
}

#eventPage .events:nth-child(4) .detail:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eventPage .events:nth-child(4) .detail:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eventPage .events:nth-child(4) .detail:nth-child(5) {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eventPage .events:nth-child(4) .detail:nth-child(6) {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Codes for tools page */
#toolPage * {
  cursor: url(img/blueCursor.png), auto;
}

#toolPage .bgEyeLayer {
  position: fixed;
  background-color: #ff005c;
  height: 100vh;
  width: 100%;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolPage .bgEyeCon {
  width: 200px;
  height: 91.13px;
}

#toolPage .bgEyeShape {
  width: 200px;
  position: absolute;
}

#toolPage .bgEyeShape img {
  width: 200px;
  object-fit: contain;
}

#toolPage .eyeballCon {
  width: 199px;
  height: 91.13px;
  background-color: #ffffff;
  position: absolute;
  overflow-x: hidden;
}

#toolPage .eyeballCon #bgEyeball {
  /* width: 160px; */
  height: 91.13px;
  object-fit: contain;
  position: absolute;
}

#toolPage .menu a:nth-child(4) {
  font-family: acier-bat-outline, sans-serif;
}

#toolPage #content {
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  grid-template-rows: 5% repeat(3, 1fr) 5%;
  grid-gap: 20px;
}

#toolPage .pageTitle {
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#toolPage .pageTitle h1 {
  font-size: 4.7vw;
}

#toolPage .pageTitle h1+h1 {
  margin-top: 0px;
}

#toolPage .pageTitle span {
  font-family: acier-bat-outline, sans-serif;
}

#toolPage .toolContainer {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#toolPage .toolContainer:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #0000fe;
}

#toolPage .toolContainer:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#toolPage .toolContainer:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #fff;
}

#toolPage .toolContainer:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: #fff;
}

#toolPage .toolContainer:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#toolPage .toolContainer:last-child {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: #0000fe;
}

#toolPage .name {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5vw;
}

#toolPage .toolImg {
  width: 80%;
  object-fit: contain;
}

#toolPage .toolIntro {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15vw;
}

#toolPage .links {
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-style: italic;
}

#toolPage #content a:link {
  color: #ff005c;
}

#toolPage #content a:active {
  color: #ff005c;
}

#toolPage #content a:visited {
  color: #ff005c;
}

#toolPage #content a:hover {
  color: #ff005c;
}

#toolPage #content .toolContainer:nth-child(3n) a:link {
  color: #fff;
}

#toolPage #content .toolContainer:nth-child(3n) a:active {
  color: #fff;
}

#toolPage #content .toolContainer:nth-child(3n) a:visited {
  color: #fff;
}

#toolPage #content .toolContainer:nth-child(3n) a:hover {
  color: #fff;
}
