html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Codes for Menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  grid-area: menu;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  width: 290px;
  z-index: +999;
}

.menu .logo {
  width: 60px;
  margin-bottom: 7px;
}

.pageNames {
  display: none;
}

.showMenu {
  display: flex;
  flex-direction: column;
  background-color: #0000fe;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu h2 {
  margin: 7px;
  position: relative;
}

.menu a {
  position: relative;
}

.menu a:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: 0px;
  right: 8px;
}

.menu a:last-child:after {
  content: "";
  display: none;
}

.menu a:link {
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover {
  text-decoration: none;
  color: #ffffff;
}

.menu a:visited {
  text-decoration: none;
  color: #ffffff;
}

.menu a:link {
  text-decoration: none;
  color: #ffffff;
}

.menu a:active {
  text-decoration: none;
  color: #ffffff;
}

/* Codes for Home Page */
#homePage > .mainContainer {
  width: 100%;
  height: 100vh;
  background-color: #0000fe;
  display: grid;
  grid-template-areas:
  ". . . . "
  ". pic menu ."
  ". pic intro ."
  ". . . .";
  grid-template-columns: 10% 50% 30% 10%;
  grid-template-rows: 5% 1fr 1fr 5%;
}

#homePage #homeTitleBox {
  background-image: url(homeImg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: pic;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#homeTitleBox .titles {
  width: 70%;
}

#homeTitleBox h1 {
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
  margin: 10px;
}

#homePage .homeMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  grid-area: menu;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  z-index: +999;
}

#homePage .homeMenu .logo {
  width: 60px;
  margin-bottom: 7px;
}

#homePage .homeMenu h2 {
  margin: 7px;
}

#homePage .homeMenu a {
  position: relative;
}

#homePage .homeMenu a:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 1px solid #fff;
  position: absolute;
  /* bottom: 0px; */
  right: 8px;
}

#homePage .homeMenu a:last-child:after {
  content: "";
  display: none;
}

#homePage .homeMenu a:link {
  text-decoration: none;
  color: #ffffff;
}

#homePage .homeMenu a:hover {
  text-decoration: none;
  color: #ffffff;
}

#homePage .homeMenu a:visited {
  text-decoration: none;
  color: #ffffff;
}

#homePage .homeMenu a:link {
  text-decoration: none;
  color: #ffffff;
}

#homePage .homeMenu a:active {
  text-decoration: none;
  color: #ffffff;
}

#homePage a:first-child {
  font-family: acier-bat-outline, sans-serif;
}

#homePage .intro {
  grid-area: intro;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}

#homePage #eyeball {
  grid-area: pic;
  width: 7.7%;
  position: absolute;
  top: 5%;
  left: 15%;
  animation-timing-function: ease;
}


/* Codes for Law Page */
#lawPage .bgEyeLayer {
  position: fixed;
  background-color: #ff005c;
  height: 100vh;
  width: 100%;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lawPage .bgEyeCon {
  width: 200px;
  height: 91.13px;
}

#lawPage .bgEyeShape {
  width: 200px;
  position: absolute;
}

#lawPage .bgEyeShape img {
  width: 200px;
  object-fit: contain;
}

#lawPage .eyeballCon {
  width: 199px;
  height: 91.13px;
  background-color: #ffffff;
  position: absolute;
  overflow-x: hidden;
}

#lawPage .eyeballCon #bgEyeball {
  /* width: 160px; */
  height: 91.13px;
  object-fit: contain;
  position: absolute;
}

#lawPage .cover {
  display: grid;
  height: 47vw;
  width: 100%;
  /* background-color: #ff005c; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#lawPage .menu a:nth-child(2) {
  font-family: acier-bat-outline, sans-serif;
}

#lawPage .coverPic {
  width: 48vw;
  position: absolute;
  left: 10%;
  top: 10%;
}

#lawPage .pageTitle {
  text-align: right;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.4vw;
  z-index: +1;
  margin-right: 10%;
}

#lawPage .cover h1 {
  margin: 0px;
}

#lawPage .cover span {
  font-family: acier-bat-outline, sans-serif;
}

#lawPage .menu {
  position: fixed;
  right: 10%;
  top: 5%;
}

#lawPage .pageTitle p {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6vw;
  margin-top: 0px;
  padding-bottom: 10px;
}

#lawPage .intro {
  width: 62%;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4vw;
  padding-top: 6vw;
  padding-bottom: 6vw;
}

#lawPage .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lawPage .topics {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lawPage .topics:last-child {
  border-bottom: #000 0.5vw solid;
  margin-bottom: 10vw;
}

#lawPage .questions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1.7vw;
  border-top: #000 0.5vw solid;
}

#lawPage .questions h3 {
  width: 85%;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
}

#lawPage .questions span {
  font-family: acier-bat-gris, sans-serif;
}

#lawPage .displayStatus {
  width: 5%;
  object-fit: contain;
}

#lawPage .data {
  width: 80%;
  font-size: 1.2vw;
  font-family: Saira;
  padding-bottom: 4vw;
}

.hideData {display: none;}

.showData {
  display: grid;
  grid-template-columns: 28% 72%;
  grid-template-rows: repeat(11, 1fr);
  /* column-gap: 20px; */
}

#lawPage .data * {
  border-top: #000 0.2vw solid;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4vw;
  padding: 10px;
  display: flex;
  align-items: center;
}

#lawPage .data .cate1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 2vw;
  font-weight: 700;
}

#lawPage .data .cate2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: 700;
  display: grid;
  padding: unset;
  border: unset;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

#lawPage .data .cate2 * {
  margin-right: 2vw;
  font-weight: 700;
  height: 100%;
}

#lawPage .data .cate2 div:last-child {
  margin-right: unset;
}

#lawPage .answers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: unset;
}

#lawPage #question4 + .data .cate2 {
  border-top: #000 0.2vw solid;
}

#lawPage #question4 + .data .answers {
  display: flex;
  padding: 10px;
}

#lawPage .answers * {
  border: unset;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2vw;
  padding: unset;
  padding-left: 10px;
}

#lawPage .answers div:last-child {
  border: unset;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.4vw;
  padding: unset;
  padding-left: 10px;
}

#lawPage .data .brazil {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#lawPage .data .china {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#lawPage .data .finland {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#lawPage .data .germany {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#lawPage .data .italy {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#lawPage .data .japan {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

#lawPage .data .malaysia {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}

#lawPage .data .peru {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 10;
}

#lawPage .data .singapore {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 11;
}

#lawPage .data .us {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 12;
  border-bottom: #000 0.2vw solid;
}

#lawPage .data .brazilAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#lawPage .data .chinaAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#lawPage .data .finlandAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#lawPage .data .germanyAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#lawPage .data .italyAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#lawPage .data .japanAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

#lawPage .data .malaysiaAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}

#lawPage .data .peruAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
}

#lawPage .data .singaporeAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 11;
}

#lawPage .data .usAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
  border-bottom: #000 0.2vw solid;
}





/*
#lawPage .data .cate1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 2vw;
  font-weight: 700;
}

#lawPage .data .cate2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: 700;
} */

/* #lawPage .data .brazil {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#lawPage .data .china {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#lawPage .data .finland {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#lawPage .data .germany {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#lawPage .data .italy {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#lawPage .data .japan {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

#lawPage .data .malaysia {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}

#lawPage .data .peru {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 10;
}

#lawPage .data .singapore {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 11;
}

#lawPage .data .us {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 12;
  border-bottom: #000 0.2vw solid;
} */

#lawPage .data .brazilAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#lawPage .data .chinaAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#lawPage .data .finlandAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#lawPage .data .germanyAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#lawPage .data .italyAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#lawPage .data .japanAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

#lawPage .data .malaysiaAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}

#lawPage .data .peruAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
}

#lawPage .data .singaporeAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 11;
}

#lawPage .data .usAnswer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
  border-bottom: #000 0.2vw solid;
}
